<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>com.eshop.controller.listener.SessionListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>front-controller</servlet-name>
		<servlet-class>com.eshop.controller.Servlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>front-controller</servlet-name>
		<url-pattern>/controller/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>localization</filter-name>
		<filter-class>com.eshop.controller.filter.LocalizationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>localization</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>auth</filter-name>
		<filter-class>com.eshop.controller.filter.AuthFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>auth</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>login-page</servlet-name>
		<jsp-file>/login.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>login-page</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>reg-page</servlet-name>
		<jsp-file>/registration.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>reg-page</servlet-name>
		<url-pattern>/reg</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>edit-product-page</servlet-name>
		<jsp-file>/edit-product.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>edit-product-page</servlet-name>
		<url-pattern>/edit-product</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>create-product-page</servlet-name>
		<jsp-file>/create-product.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>create-product-page</servlet-name>
		<url-pattern>/create-product</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>403</error-code>
		<location>/403.jsp</location>
	</error-page>
</web-app>
