<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>com.eshop.controller.listener.SessionListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>front-controller</servlet-name>
		<servlet-class>com.eshop.controller.Servlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>front-controller</servlet-name>
		<url-pattern>/controller/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>login-page</servlet-name>
		<jsp-file>/login.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>login-page</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>reg-page</servlet-name>
		<jsp-file>/registration.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>reg-page</servlet-name>
		<url-pattern>/reg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>account-page</servlet-name>
		<jsp-file>/user-account.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>account-page</servlet-name>
		<url-pattern>/account</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cart-page</servlet-name>
		<jsp-file>/cart.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>cart-page</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>
</web-app>
